/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Font properties */
body {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 30px;    
    margin: 15px 0;
}

h4 {
    font-size: 15px;
}

.gray-text {
    color: rgb(110, 110, 110);
}

.gray {
    filter: invert(0.5);
}

/* Margin properties */
.my-10 {
    margin: 10px 0;
}

.pl-8 {
    padding-left: 8px;
}

/* Elements */
.container {
    position: absolute;
    top: 0;
    right: 0;

    height: calc(100vh - 100px);
    width: calc(100% - 50px);

    background-color: rgb(20, 25, 34);

    overflow-y: scroll;
}

.button {
    display: inline-block;
    height: 40px;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
}

.button:hover {
    border-width: 2px;
    font-weight: 700;
}

.bar {
    display: inline-block;

    height: 6px;
    border-radius: 3px; 
    background-color: rgb(80, 80, 80);
    
    margin-bottom: 3px;
}

.bar .bar {
    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    background-color: rgb( 150, 150, 150);
}

.bar:hover  .bar, 
.bar .bar:hover{
    background-color: rgb(175, 253, 69);

}

.bar:hover  .bar:after, 
.bar .bar:hover:after {
    content: "";
    display: inline-block;

    position: absolute;

    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;

    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.circular {
    border-radius: 50%;
}

/* Styling header */
header {
    height: 100px;
    width: calc(100% - 50px);

    background: rgba(0, 0, 0, 0.3);

    position: fixed;
}

header .button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* Styling nav */
nav {
    height: calc(100vh - 100px);
    width: 50px;

    background-color: black;

    flex-direction: column;
    justify-content: space-between;

    overflow-y: hidden;
}

nav img {
    width: 33px;
}

.user {
    height: 33px;
    width: 33px;
    border-radius: 50%;

    background-image: url(../img/profile.svg);
    background-position: center;
    background-color: rgb(40, 40, 40);
}

nav .line {
    height: 2px;
    width: 209px;
    background-color: rgb(40, 40, 40);
}

.playlist {
    flex-grow: 1;
    overflow-y: scroll;
}

.playlist li {
    margin: 15px 0;
}

.playlist .fas {
    font-size: 40px;
}

.highlight {
    position: relative;
}

.highlight:hover {
    color: white;
}

.highlight:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;

    height: 0;
    width: 2px;
    background-color: rgb(175, 253, 69);

    transition: height 0.3s ease 0s, top 0.3s ease 0s;;
}

.highlight:hover:after {
    height: 100%;
    top: 0;
}

.highlight:hover .gray {
    filter: invert(0);
}

/* Styling main */
main {
    height: calc(100% - 100px);

    margin-top: 80px;
    padding: 20px;
}

main li {
    display: inline-block;
 
    margin: 20px 10px;
    line-height: 50px;

}

main a:hover {
    color: white;
    font-weight: 800;
}

a:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;

    height: 2px;
    width: 0;
    background-color: rgb(175, 253, 69);

    transition: width 0.3s ease 0s, left 0.3s ease 0s;;
}

a:hover:after {
    width: 100%;
    left: 0;
}

main img {
    display: block;
    width: 100%;
    height: auto;
}

main .album {
    width: 90%;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0;
}

.overlay:hover {
    opacity: 1;
}

.overlay .far {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* styling footer */
footer {
    height: 100px;
    width: 100%;

    background-color: rgb(40, 40, 40);

    padding: 20px 5px;
}

.player {
    width: calc(100% - 340px);
    padding: 10px;
}

.now-playing, .volume {
    width: 170px;
}

.now-playing img {
    width: 45px;
    margin: 0 10px;
}

.now-playing div:first-of-type {
    width: 80px;
}

.now-playing .far {
    line-height: 30px;
}

.now-playing .far:hover {
    color: white;
}

.volume .fas {
    line-height: 60px;
    margin: 0 3px;
    font-size: 15px;
}

.volume .fas:hover{
    font-size: 18px;
}

.volume > .bar {
    width: 75px;
}

.player .fas, .player .far {
    margin: 3px 5px;
    font-size: 20px;
}

.player .fas:hover, .player .far:hover{
    font-size: 23px;
    margin: 0 3px;
}

.player > .bar {
    width: 100%;
    max-width: 300px;
    min-width: 150px;
    margin-top: 20px;
}

/* Responsive properites */
.sm {
    display: none;
}

.md{
    display: none;
}

@media screen and (min-width: 576px) {
    .sm {
        display: initial;
    }

    .xs {
        display: none;
    }

    nav {
        width: 225px;
    }

    nav #big-logo {
        width: 150px;
    }

    nav span {
        font-size: 15px;
        margin-left: 5px;
    }

    nav .line {
        display: inline-block;
    }

    .container {
        width: calc(100% - 225px);
    }

    header {
        width: calc(100% - 225px);  
    }
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 15px;
    }

    .md {
        display: initial;
    }
}