/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

ul {
    list-style: none;
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Margin properties */
.my-10 {
    margin: 10px 0;
}
/* Elements */
.button {
    display: inline-block;
    height: 40px;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
}

.circular {
    border-radius: 50%;
}

/* Layout management */
.container {
    position: absolute;
    top: 0;
    right: 0;

    height: calc(100vh - 100px);
    width: calc(100% - 50px);
    background-color: rgb(20, 25, 34);
}

footer {
    height: 100px;
    width: 100%;

    background-color: rgb(40, 40, 40);
}

/* Styling header */
header {
    height: 100px;
    width: 100%;

    background: rgba(0, 0, 0, 0.3);
}

header .button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* Styling nav */
nav {
    height: calc(100vh - 100px);
    width: 50px;

    background-color: black;

    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
}

nav img {
    width: 70%;
    margin: 5px 0;
}

.user {
    height: 35px;
    width: 35px;
    border-radius: 50%;

    background-image: url(../img/profile.svg);
    background-position: center;
    background-color: rgb(40, 40, 40);

    margin: 5px auto;
}

/* Styling main */
main {
    height: calc(100% - 100px);
    overflow: scroll;

    padding: 20px;
}

li {
    display: inline-block;
    color: rgb(110, 110, 110);
    font-weight: 500;

    margin: 20px 10px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    
    margin: 15px 0;
}

h4 {
    font-weight: 500;
    color: rgb(110, 110, 110);
}

main img {
    max-width: 90%;
}


